.container-title {
  background-color: #f2f2f2;
  margin: 40px 0;
  font-size: 16px;
  color: #222222;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.02em;
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px;
  }
}

.popup1 {
  width: 400px;
  background: #061b2f;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 30px 30px;
  color: whitesmoke;
  position: fixed;
  display: none;
}

.popup1 img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.3);
}
.popup1 h2 {
  font-size: 30px;
  font-weight: 500;
  margin: 30px 0 10px;
}
.popup1 button {
  width: 20%;
  margin-top: 50px;
  padding: 10px 0;
  outline: none;
  cursor: pointer;
}

.orders {
  // margin-top: 100px;
}

.btn-solid {
  border-radius: 0 !important;
  padding: 13px 29px;
  color: #ffffff !important;
  letter-spacing: 0.05em;
  border: 2px solid var(--main-color) !important;
  background-image: linear-gradient(
    30deg,
    var(--main-color) 50%,
    transparent 50%
  ) !important;
  background-size: 850px;
  background-repeat: no-repeat;
  background-position: 0;
  transition: background 300ms ease-in-out;
  margin-right: 10px;
  text-transform: uppercase;
  &:hover {
    background-position: 100%;
    color: var(--main-color) !important;
    background-color: #ffffff;
  }
}

.img-item {
  height: 150px;
  width: 120px;
}

.dialogP {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  .icon {
    color: var(--main-color);
    font-size: 40px;
    margin-right: 10px;
  }
}

.pop-btns {
  text-align: center;
}

// ::ng-deep {
//   .p-dialog-header {
//     display: none !important;
//   }
//   .p-dialog-content {
//     text-align: center;
//     border-top: 7px solid var(--main-color);
//     border-radius: 20px;
//     padding: 2rem 1.5rem;
//     p{
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       font-size: 20px;
//       .icon{
//         color: var(--main-color);
//         font-size: 40px;
//         margin-right: 10px;
//       }
//     }
//     .btn-solid {
//       border-radius: 0 !important;
//       padding: 13px 29px;
//       color: #ffffff !important;
//       letter-spacing: 0.05em;
//       border: 2px solid var(--main-color) !important;
//       background-image: linear-gradient(
//         30deg,
//         var(--main-color) 50%,
//         transparent 50%
//       ) !important;
//       background-size: 850px;
//       background-repeat: no-repeat;
//       background-position: 0;
//       transition: background 300ms ease-in-out;
//       margin-right: 10px;
//       text-transform: capitalize;
//       &:hover {
//         background-position: 100%;
//         color: var(--main-color) !important;
//         background-color: #ffffff;
//       }
//     }
//   }
//   .p-dialog-footer {
//     border-radius: 20px;
//   }
// }
