
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.5;
}

.contact-bg {
  height: 40vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url(../../assets/contact/contact-bg.jpg);
  // background-color: black;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-bg h3 {
  font-size: 1.3rem;
  font-weight: 400;
}
.contact-bg h2 {
  font-size: 3rem;
  text-transform: uppercase;
  padding: 0.4rem 0;
  letter-spacing: 4px;
}
.line div {
  margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3) {
  height: 3px;
  width: 70px;
  background: #1842b6;
  border-radius: 5px;
}
.line {
  display: flex;
  align-items: center;
}
ate .line div:nth-child(2) {
  width: 10px;
  height: 10px;
  background: #1842b6;
  border-radius: 50%;
}
.text {
  font-weight: 300;
  opacity: 0.9;
}
.contact-bg .text {
  margin: 1.6rem 0;
}
.contact-body {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1rem;
}
.contact-info {
  margin: 2rem 0;
  text-align: center;
  padding: 2rem 0;
}
.contact-info span {
  display: block;
}
.contact-info div {
  margin: 0.8rem 0;
  padding: 1rem;
}
.icon {
  font-size: 2rem !important;
  padding-bottom: 0.9rem !important;
  color: #1842b6 !important;
}
.contact-info span .fas {
  font-size: 2rem;
  padding-bottom: 0.9rem;
  color: #1842b6 !important;
}
.contact-info div span:nth-child(2) {
  font-weight: 500;
  font-size: 1.1rem;
}
.contact-info .text {
  padding-top: 0.4rem;
}
.contact-form {
  padding: 2rem 0;
  border-top: 1px solid #c7c7c7;
}
.contact-form form {
  padding-bottom: 1rem;
}
.form-control {
  width: 100%;
  border: 1.5px solid #c7c7c7;
  border-radius: 5px;
  padding: 0.7rem;
  margin: 0.6rem 0;
  font-size: 1rem;
  outline: 0;
}
.form-control:focus {
  box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}
.contact-form form div {
  /* display: grid; */
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.6rem;
}
.send-btn {
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;

  background: #1842b6;
  border: none;
  border-radius: 5px;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  transition: all 0.4s ease;
}
.send-btn:hover {
  opacity: 0.8;
}
.contact-form > div img {
  width: 85%;
}
.contact-form > div {
  margin: 0 auto;
  text-align: center;
}
.contact-footer {
  padding: 2rem 0;
  background: #000;
}
.contact-footer h3 {
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 1rem;
  text-align: center;
}
.social-links {
  display: flex;
  justify-content: center;
}
.social-links a {
  text-decoration: none;
  width: 40px;
  height: 40px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.4rem;
  transition: all 0.4s ease;
}
.social-links a:hover {
  color: #1842b6;
  border-color: #1842b6;
}

@media screen and (min-width: 768px) {
  .contact-bg .text {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .contact-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .contact-bg .text {
    width: 50%;
  }
  .contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contact-info {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* start whatsapp icon */
.fab {
  position: sticky;
  width: 80px;
  height: 80px;
  bottom: 18px;
  left: 10%;
  transform: translateX(-50%);
  z-index: 1000;
}

.fab__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #32ee88;
  cursor: pointer;
  color: #ffffff;
  border: 0;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  z-index: 2;
  box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.3);
  transition: background-color 300ms ease;
}

.fab__button:hover {
  background-color: #0055cc;
}

.lp-icon {
  font-size: 20px;
}

.pulse-rings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pulse {
  position: absolute;
  border-radius: 50%;
  z-index: 3;
  opacity: 0;
  border-color: #002232;
  border-style: solid;
}

.pulse-1 {
  height: 74px;
  width: 74px;
  border-width: 3px;
  animation: pulsate-1 1.5s ease-out 0s infinite;
}

.pulse-2 {
  height: 84px;
  width: 84px;
  border-width: 2px;
  animation: pulsate-2 1.5s ease-out 0s infinite;
}

.pulse-3 {
  height: 94px;
  width: 94px;
  border-width: 1px;
  animation: pulsate-3 1.5s ease-out 0s infinite;
}

@media (max-width: 767px) {
  .pulse-rings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pulse {
    position: absolute;
    border-radius: 50%;
    z-index: 3;
    opacity: 0;
    border-color: #002232;
    border-style: solid;
  }

  .pulse-1 {
    height: 54px;
    width: 54px;
    border-width: 3px;
    animation: pulsate-1 1.5s ease-out 0s infinite;
  }

  .pulse-2 {
    height: 64px;
    width: 64px;
    border-width: 2px;
    animation: pulsate-2 1.5s ease-out 0s infinite;
  }

  .pulse-3 {
    height: 74px;
    width: 74px;
    border-width: 1px;
    animation: pulsate-3 1.5s ease-out 0s infinite;
  }
}

@keyframes pulsate-1 {
  0% {
    transform: scale(1, 1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@keyframes pulsate-2 {
  0% {
    transform: scale(1, 1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@keyframes pulsate-3 {
  0% {
    transform: scale(1, 1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

/*images*/
.girl-car {
  border: 2px solid #32ee88;
  border-radius: 0 30px 30px 60px;
  overflow: hidden;
  display: inline-block;
}

.man-car {
  border: 2px solid #32ee88;
  border-radius: 0 20px 20px 50px;
  overflow: hidden;
  display: inline-block;
}

/* end whatsapp icon */
