
<section class="home vh-100 ">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <div class="btns-slide">            
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
        </div>

        <div class="carousel-inner">

          <div class="carousel-item active slidImgParnt slidImgParnt1">
            <!-- <div class="layer"></div> -->
            <div class="content">
              <div class="col-lg-4 col-md-6 txt">
                <h2 class="banner-title">Newton <span class="Mobiles">Mobiles</span> </h2>
                <p>You can shop everywhere, you can buy mobile phones, headphones and accessories, we have everything you want, just contact us.</p>
                <div class="">
                  <a routerLink="/shop" class="btn-solid btn ">Shop it now 
                    <i class="icon fa-solid fa-arrow-right-long"></i>
                  </a>
                </div>
              </div>
            </div>
            <!-- <img src="./../../../../assets/bg3.jpg" class="d-block slidImg" alt="..."> -->
          </div>

          <div class="carousel-item slidImgParnt slidImgParnt2">
            <div class="layer"></div>
            <div class="content">
              <div class="col-lg-4 col-md-6 txt">
                <h2 class="banner-title">Newton <span class="Mobiles">Mobiles</span></h2>
                <p>You can shop everywhere, you can buy mobile phones, headphones and accessories, we have everything you want, just contact us.</p>
                <div class="">
                    <a routerLink="/shop" class="btn-solid btn ">Shop it now 
                      <i class="icon fa-solid fa-arrow-right-long"></i>
                    </a>
                </div>
              </div>
            </div>
            <!-- <img src="./../../../../assets/bg2.jpg" class="d-block slidImg" alt="..."> -->
          </div>

          <div class="carousel-item slidImgParnt slidImgParnt3">
            <div class="layer"></div>
            <div class="content">
              <div class="col-lg-4 col-md-6 txt">
                <h2 class="banner-title">Newton <span class="Mobiles">Mobiles</span></h2>
                <p>You can shop everywhere, you can buy mobile phones, headphones and accessories, we have everything you want, just contact us.</p>
                <div class="">
                    <a routerLink="/shop" class="btn-solid btn ">Shop it now 
                      <i class="icon fa-solid fa-arrow-right-long"></i>
                    </a>
                </div>
              </div>
            </div>
            <!-- <img src="./../../../../assets/bg1.jpg" class="d-block slidImg" alt="..."> -->
          </div>
        </div>

        <button class="carousel-control-prev btnSlid prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <i class="fa-solid fa-arrow-left-long icon"></i>
        </button>
        <button class="carousel-control-next btnSlid next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <i class="fa-solid fa-arrow-right-long icon"></i>
        </button>
      </div>
</section>





























<!-- <div class="container-fluid px-0 main">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active li1" aria-label="First slide" aria-current="true"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide" class="li2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active item1">
                <img src="./../../../assets/carousel-1.jpg" class="img-fluid" alt="First slide">
                <div class="carousel-caption">
                    <div class="container carousel-content">
                        <h6 class="text-secondary h4 animated fadeInUp">Best IT Solutions</h6>
                        <h1 class="text-white display-1 mb-4 animated fadeInRight">An Innovative IT Solutions Agency</h1>
                        <p class="mb-4 text-white fs-5 animated fadeInDown">Lorem ipsum dolor sit amet elit. Sed efficitur quis purus ut interdum. Pellentesque aliquam dolor eget urna ultricies tincidunt.</p>
                        <a href="" class="me-2"><button type="button" class="btnRead px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn1 animated fadeInLeft" fdprocessedid="qbvgrd">Read More</button></a>
                        <a href="" class="ms-2"><button type="button" class="btnCntct px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn2 animated fadeInRight" fdprocessedid="hw2acd">Contact Us</button></a>
                    </div>
                </div>
            </div>
            <div class="carousel-item item2">
                <img src="./../../../assets/carousel-2.jpg" class="img-fluid" alt="Second slide">
                <div class="carousel-caption">
                    <div class="container carousel-content">
                        <h6 class="text-secondary h4 animated fadeInUp">Best IT Solutions</h6>
                        <h1 class="text-white display-1 mb-4 animated fadeInLeft">Quality Digital Services You Really Need!</h1>
                        <p class="mb-4 text-white fs-5 animated fadeInDown">Lorem ipsum dolor sit amet elit. Sed efficitur quis purus ut interdum. Pellentesque aliquam dolor eget urna ultricies tincidunt.</p>
                        <a href="" class="me-2"><button type="button" class="btnRead px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn1 animated fadeInLeft">Read More</button></a>
                        <a href="" class="ms-2"><button type="button" class="btnCntct px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn2 animated fadeInRight">Contact Us</button></a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev" fdprocessedid="mnovhq">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next next" type="button" data-bs-target="#carouselId" data-bs-slide="next" fdprocessedid="bdo8h">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div> -->








<!-- <section class="hero">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="hero_slider">
                    <div class="hero__items slid1">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-5 col-lg-7 col-md-8">
                                    <div class="hero__text hero__text1">
                                        <h6>Summer Collection</h6>
                                        <h2>Fall - Winter Collections 2030</h2>
                                        <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                        commitment to exceptional quality.</p>
                                        <a href="#" class="primary-btn">Shop now <span class="arrow_right1"></span></a>
                                        <div class="hero__social">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-pinterest"></i></a>
                                            <a href="#"><i class="fa fa-instagram"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>

            <div class="carousel-item">
                <div class="hero_slider">
                    <div class="hero__items slid2">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-5 col-lg-7 col-md-8">
                                    <div class="hero__text hero__text2">
                                        <h6>Summer Collection</h6>
                                        <h2>Fall - Winter Collections 2030</h2>
                                        <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                        commitment to exceptional quality.</p>
                                        <a href="#" class="primary-btn">Shop now <span class="arrow_right1"></span></a>
                                        <div class="hero__social">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-pinterest"></i></a>
                                            <a href="#"><i class="fa fa-instagram"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <button class="carousel-control-prev arrow arrow_prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="bg-danger carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next arrow arrow_next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="bg-danger carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden ">Next</span>
        </button>
    </div>
</section> -->
    

    <!-- <owl-carousel-o class="position-relative" [options]="customOptions">
  
      <ng-container>
        <ng-template carouselSlide>
        </ng-template>
      </ng-container>

      <ng-container >
        <ng-template carouselSlide>
        </ng-template>
      </ng-container>
  
    </owl-carousel-o> -->



        <!-- Hero Section Begin -->
        <!-- <section class="hero">
            <div class="hero_slider">
                <span class='arrow arrow_left' id="nav-slid" (click)="sliding()">
                    <i class='icon fa-solid fa-arrow-left-long'></i>
                </span>
                <span class='arrow arrow_right' id="nav-slid" (click)="sliding()">
                    <i class='icon fa-solid fa-arrow-right-long'></i>
                </span>
                
                <div class="hero__items slid1">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-5 col-lg-7 col-md-8">
                                <div class="hero__text hero__text1">
                                    <h6>Summer Collection</h6>
                                    <h2>Fall - Winter Collections 2030</h2>
                                    <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                    commitment to exceptional quality.</p>
                                    <a href="#" class="primary-btn">Shop now <span class="arrow_right1"></span></a>
                                    <div class="hero__social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="hero__items slid2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-5 col-lg-7 col-md-8">
                                <div class="hero__text hero__text2">
                                    <h6>Summer Collection</h6>
                                    <h2>Fall - Winter Collections 2030</h2>
                                    <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                    commitment to exceptional quality.</p>
                                    <a href="#" class="primary-btn">Shop now <span class="arrow_right1"></span></a>
                                    <div class="hero__social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                
            </div>
        </section> -->
        <!-- Hero Section End -->