<div class="container-fluid">
  <div class="head">
    <div>Shop</div>
    <div>
      <span class="cursor-pointer" routerLink="/home">Home</span>
      /
      <span>Shop</span>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <app-filter-category (catEmitter)="catValue = $event" 
      ></app-filter-category>

      <!-- <app-filter-category (catEmitter)="catValue = $event" 
      (priceEmitter)="priceValue = $event"></app-filter-category> -->
    </div>
    <div class="col-lg-9">
      <app-filtered-products [catProducts]="catValue" 
      ></app-filtered-products>

      <!-- <app-filtered-products [catProducts]="catValue" 
      [priceProducts]="priceValue"></app-filtered-products> -->
    </div>
  </div>
</div>
