<!-- https://localhost:7210/api/Category/Categories -->

<!-- <app-nav></app-nav> -->

<app-header></app-header>

<!-- <marquee behavior="" direction="">
    <img src="../../assets/categories/charger.png" alt="">
    <img src="../../assets/categories/charger.png" alt="">
    <img src="../../assets/categories/charger.png" alt="">
    <img src="../../assets/categories/charger.png" alt="">
    <img src="../../assets/categories/charger.png" alt="">
    <img src="../../assets/categories/charger.png" alt="">
</marquee> -->

<app-browse-categories></app-browse-categories>

<app-featured-mobiles></app-featured-mobiles>

<app-head-phons></app-head-phons>




<!-- <div class="container home-crsl">
    <owl-carousel-o [options]="customOptions">
      
      <ng-container class="cont-temp" *ngFor="let item of accessories">
        <ng-template class="temp" carouselSlide>
          <img [src]="item.images[0]">
        </ng-template>
      </ng-container>
    
      <ng-container class="cont-temp">
        <ng-template class="temp" carouselSlide>
          <img src="../../assets/FeaturedMobiles/Oppo-Find-N3-1.webp">
        </ng-template>
      </ng-container>

      <ng-container class="cont-temp">
        <ng-template class="temp" carouselSlide>
          <img src="../../assets/FeaturedMobiles/Oppo-Find-N3-1.webp">
        </ng-template>
      </ng-container>
    
      <ng-container class="cont-temp">
        <ng-template class="temp" carouselSlide>
          <img src="../../assets/FeaturedMobiles/Oppo-Find-N3-1.webp">
        </ng-template>
      </ng-container>
    
      <ng-container class="cont-temp">
        <ng-template class="temp" carouselSlide>
          <img src="../../assets/FeaturedMobiles/Oppo-Find-N3-1.webp">
        </ng-template>
      </ng-container>
    
      <ng-container class="cont-temp">
        <ng-template class="temp" carouselSlide>
          <img src="../../assets/FeaturedMobiles/Oppo-Find-N3-1.webp">
        </ng-template>
      </ng-container>
    
    
    
    </owl-carousel-o>
</div> -->

