

.container-fluid{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 200px;
        color: var(--main-color);
        letter-spacing: 30px;
    }
}